# Java & Maven
target/
*.class
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Spring Boot config
application-*.yml
application-*.properties.local
